__pycache__/
*.db
*.rdb
*.egg-info
*.log
*.pyc
*.pyo
*.swp
.DS_Store
.cache
.coverage
.idea
.vagrant
.vscode
.tox
.env
.rope_project/
.ropeproject/
_build


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
